 /* estilo para o corpo da página */
body {
            font-family: Arial, sans-serif;
            /* define a fonte utilizada */
           /* background-color: #490a0a;*/
            /* define a cor de fundo do corpo da página */
            margin: 0;
            /* remove margens externas */
            padding: 0;
            /* remove preenchimento externo */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #28043d;
            /*
            background-image: url(batmanMachine.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom; */
} 

        /* estilo para o contêiner principal */
        #container {
            /* define a largura do contêiner */
            margin: 50px auto;
            /* centraliza o contêiner horizontalmente */
            text-align: center;
            /* alinha o conteúdo ao centro */
            width: 100%;
            max-width: 500px;
            padding: 20px;
            text-align: center;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
            background-image: url(batmanSilencio.jpg);
        }

        /* estilo para o cabeçalho */
        h1 {
            color: #1F2A44;
            /* define a cor do texto do cabeçalho */
        }

        /* estilo para a entrada de texto */
        input[type="text"] {
            padding: 8px;
            /* define o preenchimento interno */
            font-size: 16px;
            /* define o tamanho da fonte */
            border-radius: 5px;
            /* define o raio das bordas */
            background-color: #3e075e6b;
            color: white;

        }

        /* estilo para seleção e botão */
        select,
        button {
            padding: 8px;
            /* define o preenchimento interno */
            font-size: 16px;
            /* define o tamanho da fonte */
            border-radius: 5px;
            /* define o raio das bordas */
            cursor: pointer;
            /* altera o cursor ao passar por cima */
            background-color: rgba(255, 255, 255, 0.281);
        }

        .sel_con {
            font-size: 16px;
            font-weight: lighter;
            background-color: purple;
            padding: 3px 6px;
            border-radius: 16px;
        }

        .conv {
            color: #FFFFFF;
            padding: 6px 12px;
        }


        /* estilo para o botão */
        button {
            background-color: #160622;
            /* define a cor de fundo do botão */
            color: #FFFFFF;
            /* define a cor do texto do botão */
            border: none;
            /* remove a borda do botão */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

        /* estilo para o botão ao passar o mouse por cima */
        button:hover {
            transform:  translateY(-5px);
            background-color: #470e2d;
            /* altera a cor de fundo ao passar o mouse */
        }

        /* estilo para a saída de resultados */
        #output {
            margin-top: 20px;
            /* define a margem superior */
            padding: 10px;
            /* define o preenchimento interno */
            border-radius: 5px;
            /* define o raio das bordas */
            background-color: #d0d3d48a;
            /* define a cor de fundo */
            border: 2px solid #4d4855;
            /* define a borda */
            text-align: left;
            /* alinha o texto à esquerda */
            display: none;
            /* inicialmente oculta a saída */
        }

    